body{
    background:
    margin: 0 0;
}

.btn-logout{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background: #201b2c;
}

a{
  tex-decoration: none;
}

button{
    width: 10vw;
    padding: 10px 0px;
    border: none;
    border-radius: 10px;
    background: #77ffc0;
    justify-items: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2f2841;
    box-shadow:  0PX 10PX 40PX #00000056;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
}