
{% extends "model-page.html" %}

{% block content %}
    <div class="main-page">
        <div class="card-agenda" >
            <a href="evento/">
                <button type="button">Novo evento</button>
            </a>
            <h2>Agendamentos</h2>
            <ol style="font-size: 18px padding: nane;">
            {% for evento in eventos %}
                <p>{{evento.titulo}} - {{evento.get_data_evento}}<br>
                    <a href="evento/?id={{evento.id}}"><button class="editar">editar</button></a>
                    <a href="evento/delete/{{evento.id}}/"><button class="excluir">excluir</button></a>
                </p>
            {% endfor%}
            </ol>
        </div>
    </div>
{% endblock %}
