{% extends "model-page.html" %}

{% block content %}
<div class="main-page">
        <div class="card-agenda" >

                <div class="forms-evento">
                    <h2>Evento</h2>
                    <form action="submit" method="POST"> {% csrf_token %}
                        <div class="textfiald">
                            <label>Título</label><br>
                            <input type="number" name="id_evento" value="{{evento.id" hidden>
                            <input type="text" name="titulo" value="{{ evento.titulo }}"><br>
                            <label>Data do Evento</label><br>
                            <input type="datetime-local" name="data_evento" value="{{evento.get_data_input_evento}}"><br>
                            <label>Descrição</label><br>
                            <textarea rows="5" cols="50" name="descricao">{{evento.descricao}}</textarea>
                            <button type="submit">Salvar</button>
                            <a href="/">
                                <button type="button">Cancelar</button>
                            </a>
                        </div>
                    </form>
                </div>

        </div>
    </div>


{% endblock %}